<div *ngIf="selectedRecipe" class="text-center">
	<div class="row">
		<div class="col-sm-12">
			<img class="img-responsive img-circle" 
				 style="max-width: 350px; margin: 0 auto;"
				 [src]="selectedRecipe?.imgPath" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h1> {{ selectedRecipe?.name }} </h1>
		</div>
		<div class="col-sm-12">
			<button class="btn btn-success">To Shopping List</button>
			<button class="btn btn-primary">Edit</button>
			<button class="btn btn-danger">Delete</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<p> {{ selectedRecipe?.description }} </p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			Ingredients
		</div>
	</div>
</div>